
h1 {
    padding-top: 52px;
    text-align: center;
}

.container {
    align-content: center;
    padding-left: 200px;
}

.innercontainer {
    width: 700px;
    height: 320px;  
    background-color: lightgrey;
}

h3 {
    padding-top: 20px;
    padding-left: 20px;
}

.passWrdBox {
    width: 600px;
    height: 150px;
    align-content: center;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    background-color: lightblue;
    border-style: dashed;
}

.button {
    text-align: center;
    margin-bottom: 10px;
}